@{
    ViewData["Title"] = "Sign in";
}
@model FinanceReporting.Models.UserViewModel
<h2>@ViewData["Title"]</h2>
<h3>Please Sign in</h3>

@using (Html.BeginForm())
{
    <div class="bs-example" style="border:2px solid gray;">

        <div class="form-group centerlook">
            <h1> Login </h1>
        </div>
        <div class="form-group centerlook">
            <label>Username: </label>
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>
        <div class="form-group centerlook">
            <label>Password:</label>
            @Html.PasswordFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)

        </div>
        <div class="loginbtn">

            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
        <div class="registrationbtn">
            <a asp-area="" asp-controller="Login" asp-action="Register">Register</a>
        </div>
    </div>
}