@{
    ViewData["Title"] = "Register";
}
@model FinanceReporting.Models.UserViewModel
<h2>@ViewData["Title"]</h2>
<h3>Please Create an Account</h3>

@using (Html.BeginForm())
{
    <div class="bs-example" style="border:2px solid gray;">

        <div class="form-group centerlook">
            <h1> Please Enter </h1>
        </div>
        <div class="form-group centerlook">
            <label>Username: *</label>
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>
        <div class="form-group centerlook">
            <label>Password: *</label>
            @Html.PasswordFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        <div class="form-group centerlook">
            <label>First Name:</label>
            @Html.EditorFor(model => model.firstName)
        </div>
        <div class="form-group centerlook">
            <label>Last Name:</label>
            @Html.EditorFor(model => model.lastName)
        </div>
        <div class="form-group centerlook">
            <label>Email Address: *</label>
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
        <div class="registerbtn">

            <input type="submit" value="Register Account" class="btn btn-primary" />

        </div>
    </div>
}